# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Large data files
data/

# Database files
backend/waste_reports.db

# Temporary upload folder
backend/uploads/

# macOS specific files
.DS_Store